<% include body.html %>
<div id="page_content">

    <% if(typeof result == 'object' && result){ %>
    <table>
        <% for(var i=0; i < result.length; i++) { %>
        <tr>
            <td>ID: <%= result[i].id_card %></td>
            <td>ID Client: <%= result[i].id_client %></td>
            <td>Valabil de la: <%= result[i].start_valabilitate %> pana la: <%= result[i].sfarsit_valabilitate %></td>
            <td>Card VIP: <%= result[i].vip %></td>
        </tr>
        <% } %>
    </table>
    <% } %>

    <p>test</p>
</div>
<% include body_end.html %>